*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background: #005883;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
	width: 100%;
}
.titulo {
    margin-top: 20px;
    text-align: center;
    color: white
}
.subtitulo {
    margin-top: 30px;
    text-align: center;
    color: white;
}
.texto{
    text-align: justify;
    color: white;
}
.texto2{
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}    

.navegacion{
	width: 700px;
	margin: 30px auto;
	background: #F0B429;
}

.navegacion ul{
    list-style: none;
    text-align: center;
}

.menu > li{
	position: relative;
    display: inline-block;
    }

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #005883;
    text-decoration: none;
}

.menu li a:hover{
	color: white;
	transition: all .3s;
}

/* Submenu*/

.submenus{
    text-align: center;
    position: absolute;
	background: #F0B429;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenus li a{
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenus{
	visibility: visible;
    opacity: 1;
    }
.tabla {
    background: #F0B429;
    color: #005883;
    width: 80%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
.tabla2 {
    background: #F0B429;
    color: #005883;
    width: 50%;
    margin: auto;
    }
.foto {
    width: 30%;   
}
.html5 {
    width: 80%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}

body {
  background-color:#34495e;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:0;
    padding:0;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:20%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(240, 180, 41),
   2px 2px 0 rgb(240, 180, 41),
   3px 3px 0 rgb(240, 180, 41),
   4px 4px 0 rgb(240, 180, 41),
   5px 5px 0 rgb(240, 180, 41),
   6px 6px 0 rgb(240, 180, 41),
   7px 7px 0 rgb(240, 180, 41)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(240, 180, 41);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(244, 121, 32);
  color:white;
  border:none;
}